* {
    margin : 0;
    padding: 0;

}
html,body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container{
    display: flex;
    width: 550px;
    padding: 1rem;

}
.video-item > h2 {
    text-align: center;
}
.video-item > video{
    border: 1px solid rgb(0, 0, 0);
    width: 250px;
    height: 188px;
}

button, a{
    border: none;
    font-size: 14px;
    background-color:#ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
}